<h1>Editar Publicación</h1>

<%= render 'form', publication: @publication %>

<%= link_to 'Mostrar', @publication, class:"btn btn-info" %>
<%= link_to 'Regresar', publications_path, class:"btn btn-default" %>
<p></p>
