
  <section class="publications-container">

    <h4>Nuestros estudios recientes</h4>

    <div class="publications">

    <% @publications.each do |publication| %>
      <div class="publication-card">
        <div class="publication-image">
            <% if publication.image %>
                <%= link_to image_tag(publication.thumbnail), publication_path(publication) %>
            <% end %>
        </div>
        <div class="publication-info">
          <h5><%= publication.title %></h5>
          <h6><%= publication.tag %></h6>
          <h6><%= publication.pub_date.strftime("%Y") %></h6>
        </div>
      </div>
     <% end %>

    </div>

  </section>
