/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
     font-family: 'Montserrat', sans-serif;
 }

  .idea_header {
      width: 100%;
      background: linear-gradient(90deg, rgb(63,169,245), rgb(122,201,67));
  }

 .subheader1 {
     height: 120px;
     padding: 10px;
 }

 .logo {
     width: 50%;
     float: left;
 }

.subheader1a {
     color: white;
     text-align: right;
 }

 .buscador {
     width: 100%;
     height: 4rem;
     padding: 10px;
     background: linear-gradient(90deg, rgb(63,169,245), rgb(122,201,67));
 }

  .footer {
    width: 100%;
    background: linear-gradient(90deg, rgb(63,169,245), rgb(122,201,67));
    color: white;
    font-size: 12px;
    padding: 4px;
}

 @import "bootstrap-sprockets";
 @import "bootstrap";
