/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $azul_fondo: rgb(63,169,245);
 $verde_fondo:  rgb(122,201,67);

html body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

  .idea_header {
      width: 100%;
      background: linear-gradient(90deg, $azul_fondo, $verde_fondo);
      padding-bottom: 2px;
      margin-bottom: 20px;
      position: fixed;
      top: 0;
  }

 .subheader1 {
     padding: 10px;
     margin-right: 20px;
 }

 .logo img {
     height:50px;
     float: left;
 }

.subheader1a {
     color: white;
     text-align: right;
 }

 .buscador {
     /* height: 4rem; */
     padding: 10px 20px 10px 20px;
     margin: 10px 0 0 10px;
     background: linear-gradient(90deg, $azul_fondo, $verde_fondo);
 }

.barra-categorias {
  padding: 10px 20px 10px 20px;
}

.btn-azul {
  background-color: $azul_fondo;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.categorias {
  color: white;
  text-transform: uppercase;
  opacity: 0.5;
  padding: 5px;
  border-radius: 2.5px;
  text-align: center;

}

.categorias:link {
  text-decoration: none;
}

.categorias:hover {
  background-color: #DCDCDC;
  cursor: pointer;
}

.push {
    margin-bottom: 180px;
}

.footer {
    width: 100%;
    background: linear-gradient(90deg, $azul_fondo, $verde_fondo);
    color: white;
    font-size: 12px;
    padding: 10px;
}

.footer p {
  font-size: 100%;
  line-height: 80%;
}

.notice {
    color: red;
    font-weight: bold;
    padding: 0px;
}

.alert {
    color: orange;
    font-weight: bold;
    padding: 0px;
}

.container-login {
    padding: 10px;
}

 @import "bootstrap-sprockets";
 @import "bootstrap";
